  <div class="page-pdf">
      <em>Download</em>
      {% if page.title == 'Beyond Tomorrow' %}
        <a href="../pdfs/{{ page.title|e('url') }}.pdf">{{ page.title }}</a>
      {% else %}
        <a href="../pdfs/Beyond Tomorrow {{ page.title|e('url') }}.pdf">{{ page.title }}</a>
      {% endif %}
  </div>
