
      {% if page.title == 'Beyond Tomorrow' %}
       {% set thisurl = '../pdfs/Beyond%20Tomorrow.pdf' %}
      {% else %}
        {% if page.header.section %} 
          {% set thisurl = '../pdfs/' ~ page.header.section|replace('-',  ' ')|e('url') ~ '/Beyond Tomorrow%20' ~page.title|replace('-',  ' ')|e('url') ~ '.pdf' %}
        {% else %}  
          {% set thisurl = '../pdfs/Beyond%20Tomorrow%20' ~page.title|replace('-',  ' ')|e('url') ~ '.pdf' %}
        {% endif %}
      {% endif %}

    <div class="page-pdf">
      <em>Download</em>             

        <a href=" {{ thisurl }}">{{ page.title }}</a>
     
  </div>
