{% extends 'docs.html.twig' %}

{% block content %}
	<div id="historic-event">
    	<div id="body-inner">
			<p>
				{{ page.header.title }}
				{{ page.content|raw }}

			</p>
		</div>
    </div>
{% endblock %}
