{% extends 'partials/base.html.twig' %}


{% block content %}
<div id="body-inner">
    <h1>{{ page.title }}</h1>
    <p>
    	{{ page.content|raw }}
    </p>
    {% for p in page.collection.order('folder','asc') %}
        <h2>{{ p.title|e }}</h2>
    {{ p.summary|raw }}
{% endfor %}
    <p>
        {% include 'partials/newsletter_subscribe_form.html.twig' %}
    </p>
</div>

{% endblock %}
